{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark p-4" style='background-color: black; font-family: "inter", serif;'>
    <div class="container-fluid">
      <a class="navbar-brand fs-1 fw-bolder" href="#">DIST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto fw-bold fs-5">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i> Home</a>
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-plus"></i> New</a>
        </div>
      </div>
    </div>
</nav>
{% endblock %}